* {
 margin:0;
 padding:0;
}
body {
  font-family: verdana;
}
a:last-child {

}

/* INICIO MAIN */
main {
  clear: both;
}
main h1 {
  padding: 40px 10px;
}
.cabezera {
  width: 300px;
  margin:auto;
}
.cabezera * {
  float:left;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.contenedorcuadros {
  width: 80%;
  background: #FBD8AC;
  margin:auto;
  margin-bottom:20px;
  border: 1px solid #000;
}
.contenedorcuadros .titlecuadro {
  position: relative;
  height: 100px;
  padding: 1%;
  border-bottom: 1px solid #000;
}
.contenedorcuadros .titlecuadro .img {
  width: 98%;
  height: 88%;
  opacity: 0.6;
}
.contenedorcuadros .titlecuadro .txt {
  position: absolute;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 600;
}
.contenedorcuadros .titlecuadro > * {
  position: absolute;
}
.contenedorcuadros .titlecuadro .img {
  background:#fff url('../img/destinos-viajes.jpg');
}
.contenedorcuadros .cuadros {
  width: 24%;
  height: 150px;
  text-align: center;
  padding: 20px 0 0 0;
  overflow: hidden;
  display: inline-block;
}
.contenedorcuadros .cuadros iframe{
width: 95%;
height: auto;
}
.contenedorcuadros ul li {
  list-style-type: none;
  text-align: left;
  padding: 1px 10px;
  font-weight: 600;
}
.contenedorcuadros p {
  color:#7D1698;
  font-size: 32px;
}
.contenedorcuadros p span {
  color: #F89085;
}
.contenedorcuadros .footcuadros {
  padding: 5px 10px;
  font-size: 18px;
  background: #fff;
  border-top: 1px solid #000;
}
.contenedorcuadros .footcuadros span, .contenedorcuadros .footcuadros img {
  float: right;
  top: -1px;
  position: relative;
}
.recomendados .titlecuadro .img{
  background:#fff url('../img/destinos-viajes2.jpg');
}
.recomendados {
  background: #FAD883;
}
.principales .titlecuadro {
background: red;
}
.recomendados .titlecuadro {
background: #F6CB56;
}

/* FIN MAIN */
