/* INICIO HEADER */
header  {
  height: 60px;
  border-bottom: 3px solid #000;
  padding: 15px;
}
#logoheader img {
  float:left;
}
#logoheader .textoheader {
  float: left;
  width: 300px;
  padding-left:10px; 
}
#logoheader .titulo {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}
#logoheader .subtitulo a {
  font-size: 16px;
  font-weight: 400;
  color:lightblue;
  text-transform: uppercase;
  text-decoration: none;
}
#codigoheader {
float: right;
}

/* FIN HEADER */

/* INICIO FOOTER */
footer {
  border-top:3px solid #000;
}
footer ul {
  float: left;
  margin-left: 8%;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 12px 0;
}
footer ul li a {
  text-decoration: none;
  color:#000;
  padding: 40px 20px;
  font-size: 20px;
}
footer div {
  float: right;
  padding: 0 25px 0 0;
}

/* FIN FOOTER */