footer {
    border-top:3px solid #000;
  }
  footer ul li {
    list-style-type: none;
    float: left;
    display: block;
  }
  footer ul li a {
    text-decoration: none;
    color:#000;
    padding: 40px 20px;
    font-size: 20px;
  }
  footer div {
    float: right;
    padding: 0 25px 0 0;
  }
  header  {
    height: 60px;
    border-bottom: 3px solid #000;
    padding: 15px;
  }
  #logoheader img {
    float:left;
  }
  #logoheader .textoheader {
    float: left;
    width: 300px;
    padding-left:10px; 
  }
  #logoheader .titulo {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
  }
  #logoheader .subtitulo a {
    font-size: 16px;
    font-weight: 400;
    color:lightblue;
    text-transform: uppercase;
    text-decoration: none;
  }
  #codigoheader {
  float: right;
  }
  body{
    font-family: Verdana;
    font-size: 20px;
  }
#video{
  }
  h2 {
    font-weight: 500;
  }
  #aceptoterm {
    text-align: center;
    margin: 13px;
    font-size: 15px;
  }
  h1 {
    font-weight: 400;
  }
  #categorias{
    background-color: #CAE9B8;
  }
  #etiquetas{
    background-color: #ACC2F9;
  }
  #descripcion{
    background-color: pink;
  }
  #tabla tr>td {
    padding: 10px 15px;
    width: 302px;
 }
 #cargar{
   background-color: #5683F6;
   color: white;
   padding: 6px 40px;
   border-radius: 6px;
   font-size: 16px;
 }
 #listaaa{
   text-align: left;
  padding-left: 15%;
 }
 #svideo{
  background-color: green;
  color: white;
  padding: 12px 84px;
  border-radius: 6px;
  font-size: 30px;
 }
 #mensaje{
   color: red;
   height: 202px;
   padding: 10px;
 }
 #idnombre{
   padding: 10px 4opx;
 }

 